* {
    box-sizing: border-box;
    margin: 0;
    transition: all 1s !important;
}
html {
    scroll-behavior: smooth;
}
.active{
    background-color: red;
    color:white
}
/* start home */
.home_section {
    height: fit-content;
    background-image: url('../imgs/hero-bg-3000.jpg');
    background-size: 100% 100%;
    /* background-color:; */
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    /* margin-bottom: 60px; */
    z-index: 3;
}

.home_section:after {
    content: " ";
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.container {
    margin: 0 auto;
    width: 85%;
    height: 100%
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    /* top:20px;
    position: fixed; */

}


nav .nav_logo {
    color: white !important;
    font-weight: bolder;
    font-size: xx-large;
    cursor: pointer;
    /* margin-right: 30px; */
}

nav ul {
    margin-right: 20px;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
    margin-right: 120px !important;

}

nav ul li {
    height: 100%;
    margin-right: 5px;
}

nav ul li a {
    height: 100%;
    text-decoration: none;
    color: white !important;
    font-weight: bolder;
    font-size: large
}

.get_the_app {
  
    background-color: transparent;
    width: 150px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 10px;
    color: white !important;
    font-weight: bolder;

}

.get_the_app:hover {
    background-color: black !important;
}

.toggle_btn {
    display: none;
    height: 30px;
    width: 30px;
    text-align: center;
}

@media (max-width: 768px) {
    .toggle_btn {
        display: block;
     
    }

    nav ul,
    .get_the_app {
        display: none
    }
}

.home_title {
    width: 40%;
    font-weight: bolder;
    color:white !important;
}

.text {
    color: white;
    line-height: 1.7;
    font-size: large;
}

.btns_1 {
    display: flex;
    align-items: center;

    margin-top: 10px;
}

.get_started {
    width: 140px;
    height: 50px;
    background-color: green;
    color: white !important;
    text-align: center;
    margin-right: 40px;
    outline: none;
    border-radius: 10px;
    bottom: none;
    transition: all .4s
}

.get_started:hover {
    background-color: rgb(4, 92, 4)
}

.play {
    width: 40px;
    height: 40px;
    border-radius: 50% !important;
    outline: none;
    border:none;
    transition: all .4s
}

.play:hover {
    background-color: green
}

.home {
    align-self: flex-end !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    height: 600px;
    width: 100%;
}

.home_title {
    width: 55%;
}

.home_text {
    width: 45%;
}

@media (max-width: 992px) {
    .home {
        /* justify-content: space-between; */
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }

    .home_title {
        width: 100%;
    }

    .home_text {
        width: 100%;
    }
}

/* end home */
/* start stats */
.stats_section {
    height: fit-content;
    background-color:gray;
   display: flex;
   justify-content: center;
   align-items: center;

}


.stats_section .container {
    background-color: rgb(88, 88, 88);



}

.stats {
    height:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
   
    margin-top: 10px;
    background-color:rgba(255, 255, 255, 0.863) !important;
}

.stat {
    text-align: center;

    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.stat div {
    padding-top: 15px;
}

.num {
    color: rgb(5, 114, 5);
    font-size: xx-large;
}

.k {
    color: rgb(5, 114, 5);
    font-size: x-large;

}

.stat p {
    color: gray;
}

@media (min-width:992px) {
    .stat {
        width: 20%;
    }
}

@media (min-width:768px) and (max-width:992px) {
    .stat {
        width: 48%;
    }
  

    .stats_section {
        height: fit-content;
    }
}

@media (max-width:768px) {
    .stat {
        width: 100%;
    }


    .stats_section {
        height: fit-content;
    }
}

/* start one */
.one_section {
    height: 600px;
    /* margin-top: 10px; */
   background-color:gray
}

.one {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.start_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.start {
    width: 48%;
    font-size: 44px;
    color: white;
    font-weight: bolder;
}

.a {
    width: 48%;
    color: gray;
    font-size: x-large;
    line-height: 1.7;
}

.properties {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;

}

.smart {
    width: 30%;
    color: black !important;
    font-size: x-large;
    line-height: 1.6;
}

.powerful {
    width: 30%;
    color: black !important;
    font-size: x-large;
    line-height: 1.6;
}

.user {
    width: 30%;
    color: black !important;
    font-size: x-large;
    line-height: 1.6;
}

.powerful_container h2,
.smart_container h2,
.user_container h2 {
    text-align: center;
}

.circles {
    height: 30px;
    width: 100%;
}

.circles {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: row;
}

.first_circle {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgb(31, 61, 31);
    margin-right: 40px;
}

.second_circle {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: gray;
}

@media (min-width:992px) {

    .powerful_container,
    .user_container,
    .smart_container {
        width: 30%;
    }

    .user,
    .smart,
    .powerful {
        width: 100%;
    }

    .a,
    .start {
        width: 48%;
    }
}

@media (min-width:669px) and (max-width: 992px) {

    .powerful_container,
    .user_container,
    .smart_container {
        width: 47%;
    }

    .user,
    .smart,
    .powerful {
        width: 100%;
    }

    .a,
    .start {
        width: 100%;
        margin-bottom: 10px;
    }

    .one_section {
        height: fit-content;
    }
}

@media (max-width: 668px) {

    .a,
    .start {
        width: 100%;
    }

    .user,
    .powerful,
    .smart {
        width: 100%;
        color: black !important;
    }

    .a,
    .start,
    .user,
    .powerful,
    .smart {
        margin-bottom: 20px;
    }

    .one_section {
        height: fit-content;
    }
}

/* end one */


/* start carects */

.carects_section {
    height: 600px;
    overflow: hidden;
    background-color:gray;
}

.carects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.pic1 {
    width: 30%;
    border-radius: 20px;
    /* height:100% */
}

.pic2 {
    width: 30%;
    border-radius: 20px;
    /* height:100% */
}

.pic3 {
    width: 30%;
    border-radius: 20px;
    /* height:100%; */
}

@media (max-width:685px) {

    .pic1,
    .pic2,
    .pic3 {
        width: 100%;
        margin-bottom: 10px;
    }

    .carects_section {
        height: fit-content
    }
}

@media (min-width:685px) and (max-width:1115px) {

    .pic1,
    .pic2,
    .pic3 {
        width: 49%;
        margin-bottom: 10px;
    }

    .carects_section {
        height: fit-content
    }
}

@media (min-width:1115px) {

    .pic1,
    .pic2,
    .pic3 {
        width: 30%;
        
    }

    .carects_section {
        height: fit-content
    }
}


/* end carects */
/* start how works_section */


.how_the_app_works_section {
    height: 600px;
    margin-top:5px;
    background-color: gray;
    padding-top:20px
}

.how_works {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    height: 85%;
    
    /* overflow: hidden; */
}

.steps {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;


}

.step {
    counter-increment: medo !important;
    position: relative;
    padding-left: 60px;
    margin-bottom: 10px;
    width: 100%;
    height: 22%;
    line-height: 1.6;
    font-size: large
}

.step:before {
    content: counter(medo);
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
    text-align: center;
    color: black !important;
    background-color: green;
    position: absolute;
    top: 8px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center
}

.screen_pic {
    height: 100%;
    width: 30%;
}

@media (min-width: 768px) and (max-width: 992px) {

    .screen_pic {
        width: 50%;
        margin: 0 auto;
        height: 100%;

    }

    .steps {
        width: 100%;
        margin-bottom: 20px;
    }

    .how_the_app_works_section {
        height: fit-content
    }

}

@media (min-width: 992px) {

    .screen_pic {
        width: 30%;
        height: 100%;
    }

    .steps {
        width: 60%;
        margin-bottom: 20px;
    }

    .how_the_app_works_section {
        height: fit-content
    }
}

@media (max-width:768px) {
    .screen_pic {
        width: 50%;
        margin: 0 auto;
        height: 100%;
    }

    .steps {
        width: 100%;
        margin-bottom: 20px;
    }

    .how_the_app_works_section {
        height: fit-content
    }
}





/* end  how works_section */

/* start features */


.features_section {
    height: 700px;
    background-color:gray
}

.features {
    height: 100%;
}

.feature_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.feature_header p {
    color: gray;
    line-height: 1.7;
    width: 45% !important;
    font-size: large !important;
}

.feature_title {
    color: black !important;
    font-weight: bolder;
    width: 48%;
}

.features_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.feature {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 31.6%;
    margin-bottom: 10px;
}

.feature div {
    color: black !important;
    font-size: large !important
}

.icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;

}

.icon i {
    color: green;
}

@media (max-width: 680px) {
    .features_section {
        height: fit-content
    }

    .feature_header p {
        color: gray;
        line-height: 1.7;
        width: 100% !important;
        font-size: large !important;
    }

    .feature_title {
        color: black !important;
        font-weight: bolder;
        width: 100% ;
    }

    .feature {

        width: 100%;

    }
}

@media (max-width: 991px) and (min-width:680px) {
    .features_section {
        height: fit-content
    }


    .feature_header p {

        width: 100% !important;

    }

    .feature_title {

        width: 100%;
    }

    .feature {

        width: 48%;

    }

}

/* end features */

/* start price */

.price_section {
    height: 500px;
    padding-top:30px

}

.price {
    height: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.price_content {
    width: 31% !important;
    height: 100%;
}

.price_content h2 {
    color: black !important;
    font-weight: bolder;

}

.price_content p {
    line-height: 1.7;
    font-size: large;
}

.price_box {
    background-color: rgb(4, 85, 4);
    height: 100%;
    padding-left: 40px;
    width: 31% !important;
    padding-top: 20px;
    border-radius: 10px;
    padding-bottom: 10px;
}

.price_box h3 {
    color: white;
    margin-bottom: 30px;

}

.gray {
    color: gray !important;
    margin-bottom: 40px;
}

.price_box span {
    font-size: 65px;
    color: white !important;
}

.price_box div {
    color: white !important;
    margin-bottom: 30px;
    font-size: large;

}

.price_box div i {
    margin-right: 8px;
}

.price_button {
    background-color: white !important;
    color: black !important;
    border-radius: 6px;
    width: 80%;
    height: 60px;
    cursor: pointer;
    margin: 0px auto !important;
    text-align: center;
    transition: all .5s;
    font-size: large !important;
}

.c {
    margin-bottom: 70px !important;
}

.price_button:hover {
    background-color: green !important;
}


.price_box2 {
    background-color: white;
    height: 100%;
    padding-left: 40px;
    width: 31% !important;
    padding-top: 20px;
    border-radius: 10px;
    padding-bottom: 10px;

}

.price_box2 h3 {
    color: black !important;
    margin-bottom: 30px;
    font-weight: bolder;
}





.price_box2 span {
    font-size: 65px;
    color: black !important;
    font-weight: bolder;
}

.price_box2 div {
    color: black !important;
    margin-bottom: 30px;
    font-size: large;

}

.price_box2 div i {
    margin-right: 8px;
    color: green;
}

.price_button2 {
    background-color: green !important;
    color: black !important;
    border-radius: 6px;
    width: 80%;
    height: 60px;
    cursor: pointer;
    margin: 0px auto !important;
    text-align: center;
    transition: all .5s;
    font-size: large !important;
}

.c {
    margin-bottom: 30px !important;
}

.price_button2:hover {
    background-color: rgb(13, 80, 13) !important;
}


@media (max-width:688px) {
    .price_section {
        height: fit-content
    }

    .price_box {
        width: 100% !important;
        padding-bottom: 10px;
    }

    .price_box2 {
        width: 100% !important;
        padding-bottom: 10px;
    }

    .price_content {
        width: 100% !important;
    }
}

@media (max-width:1115px) and (min-width:689px) {
    .price_section {
        height: fit-content
    }

    .price_box {
        width: 48% !important;
        padding-bottom: 10px;
    }

    .price_box2 {
        width: 48% !important;
        padding-bottom: 10px;
    }

    .price_content {
        width: 48% !important;
    }

}



/* end price */


/* start section */
.downolad_section {
    background-color: rgb(39, 123, 39);
    height: 600px;
    margin-top: 20px;
}

.download {
 display: flex;
 flex-direction: column;
 justify-content:center;
align-items: center;
/* align-content: center; */

    padding-top: 140px;
}

.download h1 {
    color: white !important;
    font-weight: bolder;
}

.download p {
    color: gray;
    font-size: x-large
}

.download_btns {
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.App_store {
    height: 100% !important;
    width: 20%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    cursor: pointer;
    background-color: black !important;
    margin-right: 40px;
    padding-top: 5px;
    border-radius: 15px;
    transition: all 0.2s;
    color:white !important;
    font-weight: bolder
}
.App_store:hover{
    transform: scale(1.2);
}

.downlad_button_content {
    height: 100%;
    width: 70%;



    flex-wrap: wrap;
}

.App_store .fa-google-play, .App_store .fa-apple {
    width: 25%;
    color: white !important;
    /* transform: scale(1.7); */
    height: 100% !important;
    text-align: center;
}


.two {
    font-size: x-large
}
@media (max-width: 767px){
    .downolad_section{
        height:fit-content;
        padding-bottom: 20px;
    }
    .download_btns{
flex-direction: column;
    }
    .App_store{
        height: 100% !important;
        width: 50%;
        margin: 10px 0;
    }
    .App_store .fa-google-play,.App_store .fa-apple{
        height: 100% !important;
      
    }
}
@media (max-width: 991px) and (min-width:768px){
    .App_store{
        height: 100% !important;
        width:30%;
    }
    .App_store .fa-google-play,.App_store .fa-apple{
        height: 100% !important;
    }
    .downolad_section{
        height:fit-content;
        padding-bottom: 20px;

    }

}



/* end section */
/* start subscribe */
.subscribe_section{
    height:300px;
    background-color: black !important;
    

}
.subscribe{
height:100% ;
padding-top: 20px;



}
.subscribe h1{
text-align: center;
color:green;
height:15% !important;
}
.subscribe h2{
    text-align: center;
    color:gray;
    height:15% !important;
}
.subscribe .input{
width: 100%;
height:24% !important;
display: flex;
align-items: center;
flex-direction: row;
flex-wrap: wrap;
justify-content: flex-start;



}
.subscribe .input input{
width: 80%;
padding-left: 20px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
height:100%;
outline: none;
border: none;
background-color: gray;
font-size: large !important;
color: white !important;
font-weight: bolder;

}
.subscribe_btn{
width: 20%;
background-color:green;
text-align: center;
cursor: pointer;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
height:100%;
outline: none;
border:none;
color: white !important;
font-weight: bolder;
}
/* end subscribe */
/* start footer */
.footer_section{
    height:500px;
    background-color:black !important;
}
.footer{
    height: 100%
}

.booth{
color: gray !important;
font-size: xx-large;

}
.booth a {
    text-decoration: none;
    color: gray !important;
    
}
.booth a:hover{
    color: white !important;
    font-weight: bolder;
}
.last ul {
list-style: none;
display: flex;
padding:0;
align-items: center;
justify-content:space-between;
flex-wrap: wrap;
height:100%;
margin-bottom: 10px;
}
.last ul li {
height:100%;


}
.last ul li a{
text-decoration: none;
color: white !important;
font-size: large;
height:100% !important;
}
.last ul li a:hover{
    color: green !important;
}
.footer_content{
width:47%;

}
.footer_content p{
width: 100%;
font-size: large;
color:gray
}
.social_icons{
width:100%;
display: flex;
align-items: center;
justify-content:flex-start;
margin-top: 20px;
}
.facebook_icon,.instgram_icon,.twitter_icon{
    height:40px;
    width:40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:gray;
    margin-right: 30px;
    cursor: pointer;
    
}
.facebook_icon:hover,.instgram_icon:hover,.twitter_icon:hover{
    background-color:black !important;
}
.facebook_icon i,.instgram_icon i,.twitter_icon i{
    color: white !important;
    

}
.f{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.last{
width:47%;

}
.last p{
    color: gray;
    

}
.email{
    margin-bottom:10px
}
.email a{
color:green !important;

font-size: xx-large;
text-decoration: none;

}
.rights{
display: flex;
align-items: center;
justify-content: flex-start;
flex-direction:row;
flex-wrap: wrap;
color:gray
}
.StyleShout{
    color:green;
    font-size: medium;
    font-weight: bolder;
    cursor: pointer;
}


@media (max-width: 768px) and (min-width:500px){
    .footer_content{
        width:100%;
        margin-bottom: 30px;
    }
    .last{
        width: 100%;
    }
    .footer_section{
        height:fit-content
    }
    .last ul li{
        width:25%;
        margin-bottom: 10px;;
    }
}
@media (max-width: 991px) and (min-width:768px){

    .footer_content{
        width:100%;
        margin-bottom:30px
    }
    .last{
        width: 100%;
        margin-bottom:20px
    }
    .footer_section{
        height:fit-content
    }
}
@media (max-width: 500px){

    .last ul li{
        width:30%;
        margin-bottom: 10px;;
    }
    .footer_content{
        width:100%; margin-bottom:30px;
    }
    .last{
        width: 100%;
    }
    .footer_section{
        height:fit-content
    }
}
/* end footer */