@use "../variables"as *;
@use "../mixins"as *;

.properties_section {
    height: 600px;
    background-color: $green_color;

    .container {
        margin: 0 auto;
        width: 85%;
        height: 100%;

        .one {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;

            .circles {
                height: 30px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                text-align: center;
                flex-direction: row;

                .first_circle {
                    height: 10px;
                    width: 10px;
                    border-radius: 50%;
                    background-color: rgb(31, 61, 31);
                    margin-right: 40px;
                }

                .second_circle {
                    height: 10px;
                    width: 10px;
                    border-radius: 50%;
                    background-color: $gray_color;
                }
            }

            .start_container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;

                .start {
                    width: 48%;
                    font-size: 44px;
                    color: $white_color;
                    font-weight: bolder;
                }

                .text {
                    width: 50%;
                    padding-top: 20px;
                    color: $black_color;
                    font-size: x-large;
                    line-height: 1.7;
                    height: 100%;
                    word-break: break-all;
                }
            }

            .properties {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                margin-bottom: 10px;

                .powerful_container {
                    .powerful {
                        width: 30%;
                        color: $black_color !important;
                        font-size: x-large;
                        line-height: 1.6;
                    }

                    h2 {
                        text-align: center;
                    }
                }

                .smart_container {
                    .smart {
                        width: 30%;
                        color: $black_color !important;
                        font-size: x-large;
                        line-height: 1.6;
                    }

                    h2 {
                        text-align: center;
                    }
                }

                .user_container {
                    .user {
                        width: 30%;
                        color: $black_color !important;
                        font-size: x-large;
                        line-height: 1.6;
                    }

                    h2 {
                        text-align: center;
                    }
                }
            }
        }
    }
}

@include breakpoints(small) {
    .properties_section {
        height: fit-content;
        .container {
            .one {
                .start_container {
                    .start {
                        width: 100%;
                        margin-bottom: 20px;
                    }

                    .text {
                        width: 100%;
                        margin-bottom: 20px;
                    }
                }

                .properties {
                    .smart_container {
                        .smart {
                            width: 100%;
                            margin-bottom: 20px;
                            color: $black_color !important;
                        }
                    }

                    .user_container {
                        .user {
                            width: 100%;
                            margin-bottom: 20px;
                            color: $black_color !important;
                        }
                    }

                    .powerful_container {
                        .powerful {
                            width: 100%;
                            margin-bottom: 20px;
                            color: $black_color !important;
                        }
                    }
                }
            }
        }
    }
}

@include breakpoints(medium) {
    .properties_section {
        height: fit-content;
        .container {
            .one {
                .start_container {
                    .start {
                        width: 100%;
                        margin-bottom: 10px;
                    }

                    .text {
                        width: 100%;
                        margin-bottom: 10px;
                    }
                }

                .properties {
                    .smart_container {width: 47%;
                        .smart { width: 100% }
                    }

                    .user_container { width: 47%;
                        .user {width: 100%}
                    }

                    .powerful_container {width: 47%;
                        .powerful {width: 100%}
                    }
                }
            }
        }
    }
}

@include breakpoints(large) {
    .properties_section {
        .container {
            .one {
                .start_container {
                    .start {width: 48%;}
                    .text {width: 48%;}
                }

                .properties {
                    .smart_container {
                        width: 30%;
                        .smart {width: 100%; }
                    }
                    .user_container {
                        width: 30%;
                        .user { width: 100%}
                    }

                    .powerful_container {
                        width: 30%;
                        .powerful {width: 100%}
                    }
                }
            }
        }
    }}
@include breakpoints("min-width: 992px"){
    .properties_section {
        .container {
            .one {
                .start_container {
                    .start {width: 48%;}
                    .text {width: 48%;}
                }

                .properties {
                    .smart_container {
                        width: 30%;
                        .smart {width: 100%; }
                    }
                    .user_container {
                        width: 30%;
                        .user { width: 100%}
                    }

                    .powerful_container {
                        width: 30%;
                        .powerful {width: 100%}
                    }
                }
            }
        }
    }

}