@use "../variables" as *;
@use "../mixins" as *;
.subscribe_section {
  height: 300px;
  background-color: $black_color !important;
  .container {
    margin: 0 auto;
    width: 85%;
    height: 100%;
    .subscribe {
      height: 100%;
      padding-top: 20px;
      h1 {
        text-align: center;
        color: $green_color;
        height: 15% !important;
      }
      h2 {
        text-align: center;
        color: $gray_color;
        height: 15% !important;
      }
      .input_field {
        width: 100%;
        height: 24% !important;
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        .subscribe_btn {
          width: 20%;
          background-color: $green_color;
          text-align: center;
          cursor: pointer;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
          height: 100%;
          outline: none;
          border: none;
          color: $white_color !important;
          font-weight: bolder;
        }
        input {
          width: 80%;
          padding-left: 20px;
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
          height: 100%;
          outline: none;
          border: none;
          background-color: $gray_color;
          font-size: large !important;
          color: $white_color !important;
          font-weight: bolder;
        }
      }
    }
  }
}
